*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    width: 80%;
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
}


main{margin: 18vh 0;}

.s-con{
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 50px;
    overflow: hidden;
}

.s{
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    position: relative;
    overflow: hidden;
    height: 17vw;
    border: 5px solid transparent;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    filter: brightness(1.2) contrast(120%);
    transition: transform 0.3s, filter 0.1s ;
}
.s h1{
    display: block;
      position: absolute;
      z-index: 6;
      top: 50%;
      left: 50%;
      font-size: 1.1rem;
      transform: translate(-50%, -50%);
      background: rgba(13, 13, 13, 0.79);
      color: hsl(0, 0%, 100%);
      padding: 10px;
      max-width: 60%;
}

.overlay {
  visibility: hidden;
  position: absolute;
  bottom: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  filter: none;
  background-color: rgb(0, 34, 64); 
  transition: bottom 0.7s ease-in-out ;
}

.s:hover .overlay {
  visibility: visible;
  bottom: 0%;
}

.grid-item-link {
    visibility: hidden;
    position: absolute;
    width: 70%;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%) translateY(200%);
    text-decoration: none; 
    color: #ffffff; 
    background-color: #0051ff;
    font-size: 0.8rem;
    border-radius: 5px;
    padding: 5px 10px;
    opacity: 0;
    transition: transform 0.8s ease-out;
    z-index: 5;
  }


.s:hover{
    filter: brightness(1.2) grayscale(0%) contrast(120%);
    transform: scale(1.01);
    border: 5px solid #0077ff;
}

.s::before {
    content: "";
    padding-top: 100%; 
    display: block;
    filter: brightness(1.2) grayscale(100%) contrast(130%);
  }

.s:first-child{background-image: url('img2.jpg');}
.s:nth-child(2){background-image: url('img2.jpg');}
.s:nth-child(3){background-image: url('img6.jpg');}
.s:nth-child(4){background-image: url('img1.png');}
.s:nth-child(5){background-image: url('img3.jpg');}
.s:nth-child(6){background-image: url('img5.jpg');}
.s:nth-child(7){background-image: url('img4.jpg');}

.s:nth-child(8){font-size: 1.5rem; color: #0693e3;font-weight: BOLD;}
.s:nth-child(8)::before{padding-top: 40%;}



.s:hover .grid-item-link {
    visibility: visible; 
    opacity: 1; 
    transform: translateX(-50%) translateY(-50%);
  }

  @media screen and (max-width: 768px) {
    .s-con {
      grid-template-columns: repeat(2, 1fr);
    }
    .s{height: 40vw;}
  }

  @media screen and (max-width: 590px){
    .s-con {
        grid-template-columns: repeat(1, 1fr); 
      }
    
    .s{
        height: 60vw;
    }
  }
