*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    padding-top: 20vh;
    width: 80%;
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
}

.s-con{
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 50px;
    overflow: hidden;
}

.s{
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    position: relative;
    overflow: hidden;
    height: 17vw;
    border: 5px solid transparent;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s linear ;
    cursor: pointer;
    filter: brightness(1.2);
}
.s h1{
    display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      font-size: 1.1rem;
      transform: translate(-50%, -50%);
      background: rgba(0, 0, 0, 0.7);
      color: hsl(0, 0%, 100%);
      padding: 10px;
      max-width: 60%;
}

.grid-item-link {
    display: none; 
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(0);
    text-decoration: none; 
    color: #ffffff; 
    background-color: #ff4242;
    font-size: 0.8rem;
    padding: 5px 10px;
    opacity: 0;
    transition: transform 1s;
  }






.s:hover{
    transform: scale(1.01);
    border: 5px solid #0077ff;
}

.s::before {
    content: "";
    padding-top: 100%; 
    display: block;
  }

.s:first-child{background-image: url('img2.jpg');}
.s:nth-child(2){background-image: url('img2.jpg');}
.s:nth-child(3){background-image: url('img6.jpg');}
.s:nth-child(4){background-image: url('img1.png');}
.s:nth-child(5){background-image: url('img3.jpg');}
.s:nth-child(6){background-image: url('img5.jpg');}
.s:nth-child(7){background-image: url('img4.jpg');}

.s:nth-child(8){font-size: 1.5rem; color: #0693e3;font-weight: BOLD;border: 3px solid #0693e3;}
.s:nth-child(8)::before{padding-top: 40%;}



.s:hover .grid-item-link {
    display: block; 
    opacity: 1; 
    transform: translateX(-50%);
  }

  @media screen and (max-width: 768px) {
    .s-con {
      grid-template-columns: repeat(2, 1fr);
    }
    .s{height: 40vw;}
  }

  @media screen and (max-width: 590px){
    .s-con {
        grid-template-columns: repeat(1, 1fr); 
      }
    
    .s{
        height: 60vw;
    }
  }